<!DOCTYPE html>
<html ng-csp>
    <head>
        <title>Zimbra Notifications</title>
        <link rel="stylesheet" type="text/css" href="style.css" />
        <link rel="stylesheet" type="text/css" href="angular-csp.css" />
        <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    </head>
    <body>
        <div class="main-div" ng-app="zimbraNotifications" ng-controller="MailCtrl">
            <div class="row" ng-repeat="m in messages">
                <div class="message" ng-click="clickMessage()">
                    <div class="message-header">
                        <div class="from">
                            <span ng-repeat="contact in m.e | limitTo: 5" class="contact-name" ng-bind="contact.p"></span>
                            <span>&nbsp;-&nbsp;</span>
                        </div>
                        <div class="subject" ng-bind="m.su"></div>
                        <div style="clear: both;"></div>
                    </div>
                    <div class="message-text" ng-bind="m.fr"></div>
                </div>
            </div>
            <div class="empty" ng-hide="messages.length">Nenhuma mensagem nova.</div>
        </div>
        <script type="text/javascript" src="angular.min.js"></script>
        <script type="text/javascript" src="zimbraNotifications.js"></script>
    </body>
</html>