<!DOCTYPE html>
<html ng-csp>
    <head>
        <title>Zimbra Notifications Settings</title>
        <link rel="stylesheet" type="text/css" href="style.css" />
        <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    </head>
    <body ng-app="zimbraNotificationsOptions" ng-controller="OptionsCtrl">
        <form class="form-horizontal form-options" role="form">
            <div class="form-group">
                <label class="control-label col-sm-2" for="minutes">Intervalo (min):</label>
                <div class="col-sm-2">
                    <input id="minutes" class="form-control" type="number" ng-model="intervalMinutes" min="5"/>
                </div>
                <span class="status col-sm-1" ng-bind="status"></span>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="url">URL do servidor:</label>
                <div class="col-sm-3">
                    <input id="url" class="form-control" placeholder="http://" type="text" ng-model="urlZimbra" />
                </div>
                <span class="status col-sm-1" ng-bind="status"></span>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button id="saveButton" class="btn btn-primary" ng-click="saveOptions()">Salvar</button>
                    <button id="cancelButton" class="btn btn-link" ng-click="restoreOptions()">Cancelar</button>
                </div>
            </div>
        </form>
        <script type="text/javascript" src="angular.min.js"></script>
        <script type="text/javascript" src="options.js"></script>
    </body>
</html>