

.main-div {
    margin: 7px 15px 7px 6px;
    min-width: 300px;
    min-height: 60px;
    max-height: 400px;
    font-family: 'Helvetica Neue', Helvetica, 'Nimbus Sans L', Arial, 'Liberation Sans', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    border: 1px solid #EEE;
    padding: 3px;
    border-radius: 5px;
    display: table;
    border-collapse: separate;
}

.row {
    display: table-row;
}

.message {
    border: 1px solid #DEE1F1;
    padding: 3px;
    border-radius: 2px;
    display: table-cell;
    cursor: pointer;
}

.from {
    font-weight: bold;
    overflow-x: hidden;
    white-space: nowrap;
    float: left;
}

.subject {
    float: left;
}

.message-header {
    border-bottom: 1px solid #E7E7E7;
    padding-bottom: 3px;
}

.message-header + div {
    clear: both;
}

.message-text {
    margin-top: 3px;
}

.empty {
    text-align: center;
    margin-top: 16px;
}

/****************************************************/
/****************************************************/
/***************** OPTIONS PAGE RULES ***************/
/****************************************************/
/****************************************************/

::-ms-tooltip {
    display: none;
}

.form-options {
    margin-top: 16px;
    color: #818181;
}

.status {
    margin-top: 7px;
}